.unassigned-container {
    border-right: #312783 medium solid;
    box-shadow: 5px 0px 10px -5px black;
    padding: 10px 25px;
    overflow-y: scroll;
}

button {
    width: 100%;
}

#refresh {
    cursor: pointer;
}

.loading {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.btn-container {
    width: calc(100% - 50px);
    position: absolute;
    bottom: 10px;
    left: 25px;
}

.droppable-area {
    min-height: 80vh;
}