<h1>Settings</h1>
<div class="container">
  <ngb-tabset>
    <ngb-tab title="Competition settings">
      <ng-template ngbTabContent>
        <div class="row">
          <div class="col-3">
            <p>Competition Name:</p>
          </div>
          <div class="col">
            <input value="{{ settings.name }}">
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <p>File to import:</p>
          </div>
          <div class="col">
            <input value="{{ settings.import_path }}">
          </div>
        </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Tests">
      <ng-template ngbTabContent>
        <table class="list-group">
          <tr class="list-group-item row">
            <th class="col-2">Testcode</th>
            <th class="col-2">Base Test</th>
            <th class="col-4" colspan="2">Number of riders</th>
            <th class="col-1">Duration</th>
            <th class="col-2">Time per heat</th>
            <th class="col-1"></th>
          </tr>
          <tr class="list-group-item row">
              <td class="col-2">
                <input class="form-control" #tc type="text" placeholder="Testcode">
              </td>
              <td class="col-2">
                  <input class="form-control" #base type="text" placeholder="Base Test">
              </td>
              <td class="col-2">
                <input class="form-control" #lr type="number" placeholder="Left Rein">
              </td>
              <td class="col-2">
                <input class="form-control" #rr type="number" placeholder="Right Rein">
              </td>
              <td class="col-1">
                  
              </td>
              <td class="col-2">
                  
              </td>
              <td class="col-1">
                <button class="btn btn-success" type="submit" (click)="createTest(tc.value, lr.value, rr.value, base.value); tc.value = ''; lr.value=''; rr.value=''; base.value=''">Save</button>
              </td>
          </tr>
          <tr *ngFor="let test of tests" class="list-group-item row">
            <td class="col-2">
              <input class="form-control" #tc value="{{ test.testcode }}">
            </td>
            <td class="col-2">
                {{ test.base_test }}
              </td>
            <td class="col-2">
              <input class="form-control" #lr value="{{ test.left_rein }}">
            </td>
            <td class="col-2">
              <input class="form-control" #rr value="{{ test.right_rein }}">
            </td>
            <td class="col-1">
              {{ test.prel_time }}
            </td>
            <td class="col-2">
                <input class="form-control" #tph value="{{ test.time_per_heat }}">
            </td>
            <td class="col-1">
              <button class="btn btn-success" type="submit" (click)="saveTest(test._id, tc.value, tph.value, lr.value, rr.value)">Save</button>
            </td>
          </tr>
        </table>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>