<h2>{{ date | date:'EEEE MMM d'}}</h2>
<div class="h-100">
  <div class="h-100">
    <table class="grid">
      <tr *ngFor="let block of blocks">
        <td *ngIf="block.blocktime && block.blocktime.getMinutes() == 0" class="hour-divider time" rowspan="12">{{ block.blocktime | date:'HH:mm'}}</td>
        <td [class.hour-divider]="block.blocktime.getMinutes() == 0" 
            [class.scheduled]="block.rowspan > 1"
            [attr.rowspan]="block.rowspan"
            droppable
            [dropEnabled]="block.droppable"
            (onDrop)="onDropTest($event, block)">
            <app-test-card-schedule *ngIf="block.content" [test]="block.content" [rowspan]="block.rowspan" [starttime]="block.blocktime" [printTemplate]="printTemplate" (testGrab)="remove(block)" (testGrabStart)="allowDrop(block)"></app-test-card-schedule>
        </td>
      </tr>
    </table>
  </div>
</div>