<h1>Judge overview</h1>
<table class="list-group">
  <tr class="list-group-item row">
    <th class="col-3">Name</th>
    <th class="col-2">Status</th>
    <th class="col" *ngFor="let day of settings.days">{{ day | date:'EEEE MMM d' }}</th>
  </tr>
  <tr class="list-group-item row" *ngFor="let judge of judges">
    <td class="name col-3">
      <div class="input-group">
      <input class="form-control" #fname type="text" value="{{judge.fname}}" placeholder="First Name" (blur)="saveJudge(judge.fname, judge.lname, fname.value, lname.value, status.value)">
      <input class="form-control" #lname type="text" value="{{judge.lname}}" placeholder="Last Name" (blur)="saveJudge(judge.fname, judge.lname, fname.value, lname.value, status.value)">
      </div>
    </td>
    <td class="col-2">
      <select #status class="custom-select" (blur)="saveJudge(judge.fname, judge.lname, fname.value, lname.value, status.value)">
        <option [attr.selected]="judge.status === 'FEIF' ? '' : null" value="FEIF">FEIF</option>
        <option [attr.selected]="judge.status === 'National' ? '' : null" value="National">National</option>
        <option [attr.selected]="judge.status === 'C' ? '' : null" value="C">C</option>
        <option [attr.selected]="judge.status === 'D' ? '' : null" value="D">D</option>
        <option [attr.selected]="judge.status === 'GK' ? '' : null" value="GK">GK</option>
        <option [attr.selected]="judge.status === 'unknown' ? '' : null">Unknown</option>
      </select>
    </td>
    <td class="col" *ngFor="let day of settings.days">
      <span *ngIf="judgeHours(judge, day)">
        <b>Judging hours:</b>
        <div class="badge" [class.badge-danger]="judgeHours(judge, day).duration > 480" [class.badge-success]="judgeHours(judge, day).duration <= 480">
          <span *ngIf="judgeHours(judge, day).hours > 0">{{judgeHours(judge, day).hours}}h</span>
          <span *ngIf="judgeHours(judge, day).minutes > 0">{{judgeHours(judge, day).minutes}}m</span>
        </div>
        <br>
        <b>Length of day:</b>
        <div class="badge" [class.badge-danger]="lengthOfDay(judge, day).duration > 600" [class.badge-success]="lengthOfDay(judge, day).duration <= 600">
          <span *ngIf="lengthOfDay(judge, day).hours > 0">{{lengthOfDay(judge, day).hours}}h</span>
          <span *ngIf="lengthOfDay(judge, day).minutes > 0">{{lengthOfDay(judge, day).minutes}}m</span>
        </div>
      </span>
    </td>
  </tr>
  <tr class="list-group-item row">
    <td class="name col-3">
      <div class="input-group">
        <input class="form-control" #fnamenew type="text" placeholder="First Name">
        <input class="form-control" #lnamenew type="text" placeholder="Last Name">
      </div>
    </td>
    <td class="col-2">
      <select #statusnew class="custom-select">
        <option value="FEIF">FEIF</option>
        <option value="National">National</option>
        <option value="C">C</option>
        <option value="D">D</option>
        <option value="gk">GK</option>
      </select>
    </td>
    <td class="col">
      <button class="btn btn-success" type="submit" (click)="saveJudge(fnamenew.value, lnamenew.value, fnamenew.value, lnamenew.value, statusnew.value); fnamenew.value = ''; lnamenew.value = ''; statusnew.value = 'feif'">Add</button>
    </td>

  </tr>
</table>

<div class="explanation">
  <span class="badge badge-danger">10h 5m</span> = The judge has more than 8 hours of judging or a longer day than 10 hours, which is the maximum.
  <span class="badge badge-success">6h 3m</span> = All times are below the maximum limit.
</div>