<div class="card test-card {{ test.testcode }} {{ test.phase }}" draggable [dragData]="test" (onDragEnd)="testGrabbed($event)" (onDragStart)="grabStart($event)"
  [dragHandle]="draghandle" [class.small]="rowspan < 6" [class.smaller]="rowspan < 4">
  <div class="card-body">
    <div class="row">
      <h5 class="card-title col-8">
        <span *ngIf="print">{{ starttime | date:'HH:mm'}} - {{ endtime | date:'HH:mm' }} | </span>
        <i class="fa fa-arrows draghandle" *ngIf="!print"></i>
        <span [class.capitalize]="test.phase !== 'Preliminary' && test.phase !== 'custom'">{{ test.testcode }}<span *ngIf="test.phase !== 'custom'"> {{ test.phase }}</span>
          <span *ngIf="print && test.phase == 'Preliminary'"> Section: {{ test.section + 1 }}</span>
          <span *ngIf="test.phase == 'Preliminary' && !print">({{ test.right_heats + test.left_heats }})</span>
        </span>
        <i *ngIf="rowspan <= 10 && !print" class="fa fa-cog edit" [ngbPopover]="testDetails" placement="bottom" container="body"></i>
      </h5>

      <h5 class="col time">
        <i *ngIf="test.prel_time > 125 && test.prel_time < 150 && !print" class="fa fa-warning warning noclick" ngbTooltip="This test is longer than 2 hours. Consider splitting it up to give the judges a break."
          container="body" placement="bottom"></i>
        <i *ngIf="test.prel_time >= 150 && !print" class="fa fa-exclamation-circle critical noclick" ngbTooltip="This test is longer than 2,5 hours. You should split it up to give the judges a break."
          container="body" placement="bottom"></i>
        <span class="hours" *ngIf="hours > 0">{{ hours }}h</span>
        <span class="minutes" *ngIf="minutes > 0">{{ minutes }}m</span>
      </h5>
    </div>
    <div *ngIf="rowspan > 5 && !print">
      <ng-container *ngTemplateOutlet="testDetails"></ng-container>
    </div>
    <div class="row judges" [class.small-judge]="rowspan < 7" [class.smaller-judge]="rowspan < 6" *ngIf="printScheduleWithJudges">
      <div class="col w-100">
        <span *ngFor="let judge of judgeList">{{ judge.fname }} {{ judge.lname }},&nbsp;</span>
      </div>
    </div>
  </div>
</div>

<ng-template #testDetails>
  <div class="timespan">
    {{ starttime | date:'HH:mm'}} - {{ endtime | date:'HH:mm' }}
  </div>
  <div class="btn-group btn-group-sm" *ngIf="test.phase !== 'custom'">
    <button class="btn btn-sm btn-dark" [ngbPopover]="judges" container="body" popoverTitle="Judges for {{ test.testcode }} {{ test.phase}}" placement="bottom">
      <span class="col">Judges ({{ judgeList.length }})
        <i *ngIf="judgeList.length < test.expected_judges" class="fa fa-exclamation-triangle warning" ngbTooltip="There should be 5 judges in this test"
          container="body"></i>
        <i *ngIf="judgeList.length === test.expected_judges" class="fa fa-check check" ngbTooltip="Good job! Nothing to worry about here."
          container="body"></i>
      </span>
    </button>
    <button class="btn btn-sm btn-dark" [ngbPopover]="split" container="body" placement="bottom" popoverTitle="Split test after x riders">
      <i class="fa fa-clone check" ngbTooltip="Split test" container="body" placement="bottom"></i>
    </button>
    <button *ngIf="test.section > 0" class="btn btn-sm btn-dark" [ngbPopover]="join" container="body" popoverTitle="Merge with section x">
      <i class="fa fa-link check" ngbTooltip="Merge test sections" container="body"></i>
    </button>
  </div>
  <div class="btn-group" *ngIf="test.phase === 'Preliminary' && test.section == 0">
    <button class="btn btn-sm" [class.btn-danger]="!test.hasAfinal" [class.btn-success]="test.hasAfinal" type="button" (click)="toggleFinal('a')">AFIN</button>
    <button class="btn btn-sm" [class.btn-danger]="!test.hasBfinal" [class.btn-success]="test.hasBfinal" type="button" (click)="toggleFinal('b')">BFIN</button>
  </div>
  <div class="btn-group btn-group-small" *ngIf="test.phase !== 'custom'">
    <span class="btn btn-sm btn-dark nopoint">
      Section: {{ test.section + 1 }}
    </span>
  </div>
</ng-template>

<ng-template #split>
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">LR</span>
    </div>
    <input class="form-control" type="number" name="lr" [(ngModel)]="split_lr" placeholder="Left Rein">
    <div class="input-group-prepend" *ngIf="test.right_heats > 0">
      <span class="input-group-text">RR</span>
    </div>
    <input *ngIf="test.right_heats > 0" class="form-control" type="number" name="rr" [(ngModel)]="split_rr" placeholder="Right Rein">
    <div class="input-group-append">
      <button type="button" class="btn btn-outline-primary" (click)="splitTest()">Split</button>
    </div>
  </div>
</ng-template>

<ng-template #join>
  <div class="input-group input-group-sm mb-3">
    <input class="form-control" type="number" name="join" [(ngModel)]="join_section" placeholder="Join">
    <div class="input-group-append">
      <button type="button" class="btn btn-outline-primary" (click)="joinTest()">Merge</button>
    </div>
  </div>
</ng-template>

<ng-template #judges>
  <div *ngFor="let judge of judgeList" class="alert alert-primary">
    {{ judge.fname }} {{ judge.lname }} ({{judge.status}})
    <i *ngIf="judge.times[0].time > 480" ngbTooltip="This judge has more than 8 hours of judging today..." class="fa fa-exclamation-triangle warning noclick" container="body"></i>
    <i *ngIf="judge.times[0].end.getTime() - judge.times[0].start.getTime() > 600 * 60000" ngbTooltip="This judge has a longer day than 10 hours today..."
      class="fa fa-exclamation-triangle warning noclick" container="body"></i>
    <i class="fa fa-times remove" (click)="removeJudge(judge.fname, judge.lname)"></i>
  </div>
  <div class="input-group input-group-sm mb-3" *ngIf="judgeList.length < test.expected_judges">
    <select class="form-control form-control-sm" name="new-judge" #newjudge (change)="addJudge(judgesNotInTest[newjudge.value].fname, judgesNotInTest[newjudge.value].lname); newjudge.value = -1;">
      <option [value]="-1" disabled selected>Select judge</option>
      <option *ngFor="let j of judgesNotInTest; index as i" [value]="i">{{j.fname}} {{j.lname}} ({{j.status}})</option>
    </select>
  </div>
</ng-template>