.test-card {
    height: 100%;
    width: 100%;
    border-radius: 0;
    border: none;
}

.small h5 {
    font-size: large;
}

.smaller h5 {
    font-size: .8rem;
}

.draghandle {
    cursor: move;
}

.card-body {
    padding: .5em 1em;
    overflow: hidden;
}

.card-body h5 {
    margin-bottom: .2em;
}

.drag-border {
    display: none;
}

.alert {
    padding: .1em .5em;
    margin-bottom: .3em;
}

.capitalize {
    text-transform: uppercase;
}

.timespan {
    font-size: .8rem;
}

.remove {
    color: red;
    position: absolute;
    top: 5px;
    right: 5px;
}

.critical {
    color: red;
}

.warning {
    color: orange;
}

.noclick {
    cursor: default !important;
}

.nopoint {
    cursor: default !important;
    pointer-events: none;
}

.col:last-child {
    text-align: right;
}

.time {
    text-align: right;
}

.remove, .add, .warning, .check, .edit {
    cursor: pointer;
}

.T1 {
    background-color: #1abc9c;
    color: black;
}

.T2 {
    background-color: #2ecc71;
    color: black;
}

.T3 {
    background-color: #3498db;
    color: black;
}

.T4 {
    background-color: #9b59b6;
    color: white;
}

.V1 {
    background-color: #34495e;
    color: white;
}

.V2 {
    background-color: #f39c12;
    color: black;
}

.F1 {
    background-color: #c0392b;
    color: white;
}

.F2 {
    background-color: #6ab04c;
    color: black;
}