.test-card {
    cursor: move;
}

.heats {
    font-size: 14px;
    display: block;
}

.time {
    font-size: 24px;
    text-align: right;
}

.drag-border {
    display: none;
}

.heats .badge {
    padding: 2px;
    border-radius: 2px;
}