.header {
    background-color: #312783;
    color: white;
    padding: 10px;
    height: 3.5em;
}

.competition-name {
    font-size: 32px;
}

.competition-name {
    margin: 0 auto;
    width: fit-content;
    text-align: center;
}

.nav {
    float: left;
}

.nav .nav-link {
    color: white;
}

.nav .nav-link:hover {
    color: lightgrey;
}

.nav a span {
    margin-left: 10px;
}

.nav .active {
    border: thin white solid;
}